body 
{ 
    background: white url(images/siteBackground2.png) repeat; 
}

.content
{
    padding: 10px;
}

.sideRegion
{
    background: white;
    min-height: 1000px;
    border-right: 1px solid lightgray;
}

.sideRegion .content
{
    padding: 10px 0px 10px 10px;
}

.centerRegion
{
    margin: 0px;
    padding: 0px;
}