body 
{ 
    background: white url(images/siteBackground2.png) repeat; 
}

#contentwrapper
{
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: 0px;
    z-index: 10;
}

.sidebarMode #sidebarwrapper
{
    position:fixed;
    width: 220px;
    height: 100%;
    z-index: 20;
    background: white;
    border-right: 1px solid lightgray;
}

.sidebarMode #contentwrapper
{
    position:fixed;
    width: 100%;
    height: 100%;
    padding-left: 220px;
    z-index: 10;
}

#content
{
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}

#sidebar
{
    padding: 10px;
}

#sidebar .form-group
{
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

#content .panel 
{
    text-align: left;
}

.fullsize
{
    width: 100%;
    height: 100%;
    margin: 0px;
}

table
{
    white-space: nowrap;
}

@media (min-width:765px) 
{
    .panel-autowidth
    {
        display: inline-block;
    }
}

@media (max-width:765px) 
{
    .sidebarMode #sidebarwrapper
    {
        position: static;
        width: 100%;
        background: white;
        border-bottom: 1px solid lightgray;
    }

    .sidebarMode #contentwrapper
    {
        position: static;
        width: 100%;
        padding-left: 0px;
    }
}